div{
    box-sizing: border-box;
    color: black;
    height: 100px;
    text-align: center;
    width: 100px;
    padding-top: 20px;
}
.primero{
        top: 30px;
        background-color: #ADD8E6;
        position: relative;
        left: 20px;
    }
.segundo{
        bottom: 20px;
        background-color: #90EE90;
        position: absolute;
        right: 30px;
    }
